<footer class="ae-container-fluid rk-footer ">
  <div class="ae-grid ae-grid--collapse">
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
      <ul class="rk-menu rk-footer-menu">
        <li class="rk-menu__item"><a routerLink="portfolio" class="rk-menu__link">Inicio</a>
        </li>
        <li class="active rk-menu__item"><a routerLink="about" class="rk-menu__link">About</a>
        </li>
        <li class="rk-menu__item"><a routerLink="terminos" class="rk-menu__link">Terminos y Condiciones</a></li>

      </ul>
      <p class="rk-footer__text rk-footer__copy "> <span class="ae-u-bold">© </span><span class="ae-u-bolder">{{year}}
          {{_servicio.info.titulo}} </span>All Right Reserved.</p>
    </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center">
      <a href={{_servicio.info.linkedin}} class="rk-social-btn " target="_blank" >
        <img src="assets/img/icon-linkedin.svg">
      </a>
        <a href="{{_servicio.info.twitter}}" class="rk-social-btn "  target="_blank">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-twitter"></use>
        </svg>
      </a>
      </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
      <p class="rk-footer__text rk-footer__contact "> <span class="ae-u-bold">Email: </span><span class="ae-u-bolder">
          <a href="#0" class="rk-dark-color ">{{_servicio.info.email}} </a></span></p>
      <p class="rk-footer__text rk-footer__by">Theme by <a href="https://Flyicarus.net"
          class="ae-u-bolder">{{_servicio.info.pagina_autor }}</a></p>
    </div>
  </div>
</footer>